@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* set Plus Jakarta Sans as default font */
	--font-sans: 'Plus Jakarta Sans', sans-serif;

	/* main color palette */
	--color-sr-yellow: #ffda15;
	--color-sr-light-yellow: #fff6c6;
	--color-sr-purple: #7442a5;
	--color-sr-light-purple: #e9d7f8;
	--color-sr-white: #fffcf8;
	--color-sr-black: #1e1e1e;
}

@layer base {
	html {
		font-family: var(--font-sans);
	}
}
